# ======================
# Android / Gradle
# ======================
.gradle/
build/
*/build/
app/release/
**/release/

# ======================
# Local config
# ======================
local.properties

# ======================
# Kotlin / Java
# ======================
*.class

# ======================
# Logs
# ======================
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

